.container {
  width: 1250px;
  height: 800px;
  border: solid blue;
}

#block {
  padding-left: 5px;

}

.topscore {
  width: 250px;
  height: 400px;
  border: solid red 1px;
  background: pink;
  float: right;

}

.input-container {
  width: 250px;
  height: 200px;
  position: absolute;
  left: 210px;
  top: 325px;
  display: none;
  color: white;
}

input {
  width: 230px;
  height: 20px;

}
